<!-- Table with CV information -->
<h3>Work History</h3>
<table class="table-no-border">
  <tbody>
    <tr>
      <td style="text-align: left"><b>Data Science Consultant</b></td>
      <td style="text-align: right">Feb 2019 to Present</td>
    </tr>
    <tr>
      <td style="text-align: left"><b>Data Scientist</b>, Aston Capital Management</td>
      <td style="text-align: right">Jan 2018 to Dec 2018</td>
    </tr>
    <tr>
      <td style="text-align: left"><b>Data Scientist</b>, <a href="https://www.rtinsights.com/" target="_blank">RTInsights</a></td>
      <td style="text-align: right">Jul 2017 to Jan 2018</td>
    </tr>
    <tr>
      <td style="text-align: left"><b>Postdoctoral Fellow</b>, <a href="https://msi.mcgill.ca/" target="_blank">McGill University</a></td>
      <td style="text-align: right">Aug 2015 to Jun 2017</td>
    </tr>
    <tr>
      <td style="text-align: left"><b>Postdoctoral Fellow</b>, <a href="https://physics.tau.ac.il/astrophysics" target="_blank">Tel Aviv University</a></td>
      <td style="text-align: right">Sep 2012 to Jul 2015</td>
    </tr>
  </tbody>
</table>

<h3>Education</h3>
<table class="table-no-border">
  <tbody>
    <tr>
      <td style="text-align: left"><b>PhD and MSc</b> in <a href="https://www.astro.ufl.edu/" target="_blank">Astronomy</a>, University of Florida</td>
      <td style="text-align: right">2006 to 2012</td>
    </tr>
    <tr>
      <td style="text-align: left"><b>BSc</b> in Physics and Astronomy, University of Rochester</td>
      <td style="text-align: right">2002 to 2006</td>
    </tr>
  </tbody>
</table>

